.ListaFarmacia{

}

img{
    width: 300px;
    display: block;
    margin: auto;
    border-radius:50%;
}
td{
    width: 40%;
    text-align: center;
    vertical-align: middle;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
thead{
    text-align: center;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #3E52FC;
}

h2:hover {
    color: #7C7F98;
}
h2{
    text-align: center;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#3E52FC ;
}

p {
    text-align: center;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
}

.Botones {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color:blue;
}
